@font-face {
    font-family: 'Arrow';
    src: url("../assets/arrowFont.ttf");
}

@font-face {
    font-family: 'EBGaramond';
    src: url("../assets/EBGaramond-SemiBold.ttf");
}

* {
    font-family: Arrow;
}

body {
    background-color: white;
}

h1 {
    font-size: 40px;
}

.profile-pic {
    width: 300px;
}

.fullbody {
    background-image: url("../assets/images/background-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.aboutus-first-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.aboutus-first-column p {
    font-size: 36px;
    font-weight: bold;
    font-family: EBGaramond;
}

.aboutus-second-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    text-align: center;
}