.upper-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    background-image: url("../assets/images/background-image.png");
    background-size: cover;
    background-repeat: no-repeat;
}