@font-face {
    font-family: 'Arrow';
    src: url("../assets/arrowFont.ttf");
}

.footer-container {
    background-color: #08080c;
    width: 100vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.footerLeft-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    height: 100%;
    width: 33vw;
    padding: 20px 0px;
}

.footerMid-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 33vw;
    padding-top: 30px;
}

.footerIconLogos-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    width: 25%;
}

.footerIconLogos-container a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    width: 20px;
    height: 20px;
    fill: #585858;
    filter: invert(31%) sepia(56%) saturate(0%) hue-rotate(165deg) brightness(94%) contrast(92%);
    transition: 0ms;
}

.instagram:hover {
    filter: invert(28%) sepia(46%) saturate(3577%) hue-rotate(319deg) brightness(92%) contrast(91%);
    transform: scale(1.5);
}

.facebook:hover {
    filter: invert(37%) sepia(75%) saturate(465%) hue-rotate(182deg) brightness(90%) contrast(94%);
    transform: scale(1.5);
}

.linkedin:hover {
    filter: invert(37%) sepia(75%) saturate(465%) hue-rotate(182deg) brightness(90%) contrast(94%);
    transform: scale(1.5);
}

.youtube:hover {
    filter: invert(23%) sepia(91%) saturate(7488%) hue-rotate(356deg) brightness(91%) contrast(123%);
    transform: scale(1.5);
}

.xlogo:hover {
    filter: invert(100%) sepia(5%) saturate(426%) hue-rotate(314deg) brightness(116%) contrast(100%);
    transform: scale(1.5);
}

.logo-separator {
    height: 50px;
    font-size: 50px;
    color: #585858;
    cursor: default;
}

.footerRight-container {
    display: flex;
    align-items: end;
    justify-content: flex-end;
    height: 100%;
    width: 33vw;
    padding: 20px 0px;
}

.logo-separator {
    height: 40px;
    font-size: 25px;
    color: #585858;
    font-family: Arrow;
    text-align: center;
    vertical-align: middle;
}

.footer-paragraph {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #c9c9c9;
    font-family: Arrow;
    cursor: default;
    height: 100%;
}

.footer-paragraph.left {
    display: flex;
    align-items: center;
    padding-left: 40px;
    cursor: pointer;
    height: 100%;
}